[submodule "JavaCommons-core"]
	path = JavaCommons-core
	url = https://github.com/picoded/JavaCommons-core.git
[submodule "JavaCommons-dstack"]
	path = JavaCommons-dstack
	url = https://github.com/picoded/JavaCommons-dstack.git
[submodule "JavaCommons-servlet"]
	path = JavaCommons-servlet
	url = https://github.com/picoded/JavaCommons-servlet.git
[submodule "JavaCommons-module"]
	path = JavaCommons-module
	url = https://github.com/picoded/JavaCommons-module.git
[submodule "JavaCommons-pdf"]
	path = JavaCommons-pdf
	url = https://github.com/picoded/JavaCommons-pdf.git
